
<div>
    <p>
        register form
    </p>
    [% IF result %][% result %][%- END %]
    <form method="post" action="/index.cgi">
        <table border="1">
            <tr><td>name</td><td><input type="text" name="name" /></td></tr>
            <tr><td>password</td><td><input type="text" name="password" /></td></tr>
        </table>
        <input type="submit" />
    </form>
</div>

[% UNLESS user %]
<div>
    <p>
        login form
    </p>
    [% IF error %]<div class="red">[% error %]</span>[%- END %]
    <form method="post" action="/login.cgi">
        <table border="1">
            <tr><td>name</td><td><input type="text" name="name" /></td></tr>
            <tr><td>password</td><td><input type="text" name="password" /></td></tr>
        </table>
        <input type="submit" />
    </form>
</div>
[%- END %]

<div>
    <p>
        registerd users
    </p>
<table border="1">
    <tr><th>name</th><th>password</th></th>
[%- WHILE (u = users.next) -%]
<tr><td>[% u.name %]</td><td>[% u.password %]</td></tr>
[%- END %]
</table>
</div>
