[%- SET prev_page = 'prev' -%]
[%- SET next_page = 'next' %]
<p>[% pager.total_entries %] item hit. show [% pager.first %] to [% pager.last %].</p>
<div>
        [%- params = c.req.params -%]
        [%- IF pager.previous_page -%]
        [%- params.page = pager.previous_page %]
        [% link_to(prev_page, {href => '/entry/index.cgi', page => pager.previous_page}) %]
        [%- ELSE %]
        [%- prev_page %]
        [%- END -%]
        [%-  -%]
        [%- FOREACH page IN pager.pages_in_navigation -%]
        [%- IF page == pager.current_page %]
        [% page %]
        [%- ELSE %]
        [%- params.page = page %]
        [% link_to(page, {href => '/entry/index.cgi', page => page}) %]
        [%- END %]
        [%- END -%]
        [%-  -%]
        [%- IF pager.next_page -%]
        [%- params.page = pager.next_page %]
        [% link_to(next_page, {href => '/entry/index.cgi', page => pager.next_page}) %]
        [%- ELSE %]
        [%- next_page %]
        [%- END %]
</div>
